
*.crc
*.parquet
*.zip
*.tsv
*.csv
*.txt
*.hcl
*.0_x5
*.tfstate
*.backup
data_lake/.DS_Store
data_lake/bronze/.DS_Store
data_lake/bronze/movies_netflix/_SUCCESS
data_lake/bronze/rating_amazon/.DS_Store
data_lake/bronze/rating_amazon/_SUCCESS
data_lake/bronze/rating_netflix/.DS_Store
data_lake/bronze/rating_netflix/_SUCCESS
data_lake/silver/.DS_Store
data_lake/silver/movies/.DS_Store
data_lake/silver/movies/_SUCCESS
data_lake/silver/rating/.DS_Store
data_lake/silver/rating/_SUCCESS
data_lake/staging/.DS_Store
data_lake/staging/netflix/README
IaC/.DS_Store
IaC/.terraform/.DS_Store
Passos para criar a solucao
